<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ko.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <script>
      dayjs.locale("ko");

      const botHost = "<%= botHost %>";
      const botPort = "<%= botPort %>";
      let channelId = "<%= channelId %>";
      if (channelId == "null") channelId = null;
    </script>
    <script src="/scripts/util.js"></script>
    <script src="/scripts/variable.js"></script>
    <script src="/scripts/components/sidebar.js"></script>
    <script src="/scripts/components/main_content.js"></script>
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <div id="watcher">
      <div class="sidebar">
        <div class="title">서버 연결 현황</div>
        <div id="today"></div>
      </div>
      <div id="main_content"></div>
    </div>
  </body>
</html>
